/* variable CSS */
:root{
  --vert: rgb(48, 185, 112);
  --vert-fonce: rgb(30, 114, 107);
  
}

/* mini reset */
/* @font-face{
  font-family: "Antipasto";
  src:url("assets/fonts/Antipasto.ttf");
} */

*{
  /* font-family: ; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
}

/* #contenu{
  padding-top: 200px;
} */ 

/* gestion nom du refuge */
.our-name{
  font-weight: bold;
}

/* titres des pages hors accueil */
.page-title{
  display: flex;
  width: 100%;
  justify-content: center;
}
.page-title p{
  /* margin-top: 40px; */
  margin: 40px 10px 0;
}
.page-title p img{
  width: 50px;
}
.page-title h2{
  font-size: 2.5rem;
  margin: 50px 0;
}

/* gestion des messages d'erreur */
.error{
  color: red;
}

/* ...................HOME............... */

/* HEADER */
.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(90deg, rgba(40,227,128,1) 0%, rgba(30,114,107,0.82) 100%);
  
}
.banner-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  position: relative;
}
.connect-user a{
  color: #fff;
  font-size: 2rem;
  margin-right: -30px;
}

.title-header .logo{
  width: 90px;
  margin-right: 20px;
  margin-bottom: -10px;
}
.title-header{
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  line-height: 3.5rem;
}
.title-header p a{
  color: #fff;
}


/* menu burger */
#burger{
  width: 50px;
  height: 4px;
  background: #fff;
  display: inline-block;
  position: relative;
}
#burger::before, #burger::after{
  content:'';
  width: 50px;
  height: 4px;
  background: #fff;
  display: inline-block;
  position: absolute;
  transform-origin: center;
  transition: all 0.3s ease;
}
#burger::before{
  top: -15px;
}
#burger::after{
  top: 15px;
}
#burger.open{
  background: transparent; /*la barre du milieu disparaît */
}
/* les barres du dessus et dessous s'inclinent pour former une croix */
#burger.open::before{
  transform: rotate(45deg);
  top: 0;
}
#burger.open::after{
  transform: rotate(-45deg);
  top: 0;
}
#liste-nav{
  background-color: rgb(30, 114, 107, 0.8);
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 10px 0;
  transform: scaleY(0);
  transform-origin: center top;
  transition: all 0.3s ease;
}
#liste-nav.open{
  transform: scaleY(1);
}
#liste-nav li{
  padding: 50px 0;
  text-align: center;
}
#liste-nav li a{
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
#liste-nav li a:hover{
  font-size: 2.1rem;
  font-weight: bolder;
}

#sous-liste {
  display: none;
  padding-left: 15%;
}
#sous-liste.open{
  display: block;
}
#sous-liste li{
  padding: 40px 0;
  text-align: center;
}
#sous-liste li a{
  color: #fff;
  font-size: 1.8rem;
}
#sous-liste li a:hover{
  font-size: 1.9rem;
  font-weight: bold;
}

/* MAIN */
.banner-photo{
  width: 100%;
}
.banner-photo img{
  width: 100%;
}


/* FOOTER */
#bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(90deg, rgba(40,227,128,1) 0%, rgba(30,114,107,0.82) 100%);
}
#bottom .social-media{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bottom .social-media h3{
  margin: 30px auto 5px;
  color: #fff;
  text-decoration: underline;
  font-size: 2.2rem;
}
#bottom .social-media ul{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 15px auto;
}
#bottom .social-media ul li a{
  color: #fff;
  font-size: 3rem;
}
#bottom .schedule{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15px auto;
}
#bottom .schedule h3{
  margin-bottom: 5px;
  text-decoration: underline;
  font-size: 2.2rem;
}
#bottom .schedule p{
  font-size: 1.9rem;
}

.transition{
  height: 3px;
  width: 100%;
  background: #fff;
}
#bottom #copyright{
  text-align: center;
  margin: 10px 0;
}
#bottom #copyright a{
  color: #fff;
  font-size: 1.5rem;
}


/*........................CONNEXION / CREATE ACCOUNT / CONTACT..................*/
.content-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 0 20px;
}
.content-form .text-account{
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: justify;
  padding: 0 10px;
  margin-bottom: 70px;
}
.content-form .form-connect{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-form .form-connect p{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
} 
.content-form .form-connect p label{
  /* text-align: center; */
  width: 90%;
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.content-form .form-connect p input{
  width: 90%;
  height: 80px;
  border: solid 1px var(--vert-fonce);
  border-radius: 5px;
  background-color: rgb(48, 185, 112, 0.3);
  font-size: 2rem;
  padding-left: 10px;
}
.content-form .form-connect textarea{
  width: 90%;
  height: 300px;
  border: solid 1px var(--vert-fonce);
  border-radius: 5px;
  background-color: rgb(48, 185, 112, 0.3);
  font-size: 1.8rem;
  padding-left: 10px;
  padding-top: 10px;
}
.content-form .form-connect .buttons{
  display: flex;
  flex-direction: row;
}
.content-form .form-connect p input[type=submit], 
.content-form .form-connect p input[type=reset]{
  width: 40%;
  font-size: 2rem;
  font-weight: bold;
  margin: 30px auto;
}
.content-form .form-connect p input[type=submit]:hover,
.content-form .form-connect p input[type=reset]:hover{
  color: #fff;
  background-color: var(--vert-fonce);
}
.content-form p, .content-form p a{
  font-size: 1.9rem;
  margin-bottom: 50px;
}
.content-form p a{
  text-decoration: underline;
  cursor: pointer;
}
.content-form .form-connect .consent-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.content-form .form-connect .consent-box input{
  width: 30px;
  margin-right: 20px;
}
.content-form .form-connect .consent-box label{
  cursor: pointer;
  padding-top: 10px;
}








/* ............MEDIA QUERIES............ */
@media screen and (min-width: 992px){

  /* HEADER */
  
}
