/* variable CSS */
:root{
  --vert: rgb(48, 185, 112);
  --vert-fonce: rgb(30, 114, 107);
  
}

/* mini reset */
*{
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
}
.our-name{
  font-weight: bold;
}

/* titres des pages hors accueil */
.page-title{
  display: flex;
  width: 100%;
  justify-content: center;
}
.page-title p{
  margin: 25px 10px 0;
}
.page-title p img{
  width: 25px;
}
.page-title h2{
  font-size: 1.2rem;
  margin: 30px 0 20px;
}

/* gestion des messages d'erreur */
.error{
  color: red;
}


/*****************************************/
/*................. HEADER.............. */
/*****************************************/
#top-content {
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) , url(/app/Public/front/images/collage.png);
  background-size: cover; 
  margin-bottom: 30px;
}

.title-header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  font-weight: bold;
  padding: 20px 20px 10px;
}
.title-header .logo{
  width: 50px;
  margin-bottom: -5px;
}
.title-header p a{
  color: #fff;
  font-size: 1.4rem;
}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px 15px;
  position: relative;
}

.connect-user{
  text-align: end;
  padding-top: 10px;
}
.connect-user a{
  color: #fff;
}
.connect-user a i{
  font-size: 1.5rem;
}
.connect-user p{
  color: #fff;
}
.connect-user p:first-child{
  font-size: 1.1rem;
  font-weight: bold;
}
.connect-user p:last-child{
  margin-top: 5px;
}
.connect-user p:last-child a{
  font-size: 0.8rem;
}

/* menu burger */
#burger{
  width: 32px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: relative;
}
#burger::before, #burger::after{
  content:'';
  width: 32px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  transform-origin: center;
  transition: all 0.3s ease;
}
#burger::before{
  top: -10px;
}
#burger::after{
  top: 10px;
}
#burger.open{
  background: transparent; /*la barre du milieu disparaît */
}
/* les barres du dessus et dessous s'inclinent pour former une croix */
#burger.open::before{
  transform: rotate(45deg);
  top: 0;
}
#burger.open::after{
  transform: rotate(-45deg);
  top: 0;
}
#liste-nav{
  background-color: rgba(30, 114, 107, 0.8);
  backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 100%;
  padding: 10px 0;
  transform: scaleY(0);
  transform-origin: center top;
  transition: all 0.3s ease;
  z-index: 1000;
}
#liste-nav.open{
  transform: scaleY(1);
}
#liste-nav li{
  padding: 20px 0;
  text-align: center;
}
#liste-nav li a{
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
#liste-nav li .active{
  font-size: 1.3rem;
  font-weight: bolder;
  text-decoration: underline;
}

/*****************************************/
/* ................MAIN................. */
/*****************************************/
.main-content{
  padding: 0 10px;
  margin-bottom: 30px;
}
.main-content h1{
  font-size: 1.3rem;
  text-align: center;
  color: var(--vert-fonce);
}
#top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* number of pets */
#nbrOfPets{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
#nbrOfPets div{
  margin-bottom: 30px;
}
#nbrOfPets .page-title{
  width: 100%;
  margin-top: 30px;
}
#nbrOfPets #nbrOfCats, #nbrOfPets #nbrOfDogs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nbrOfPets #nbrOfCats img, #nbrOfPets #nbrOfDogs img{
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  filter: brightness(80%);
}
#nbrOfPets #nbrOfCats p:first-child, #nbrOfPets #nbrOfDogs p:first-child{
  position: relative;
}
#nbrOfPets #nbrOfCats span, #nbrOfPets #nbrOfDogs span{
  position: absolute;
  font-size: 3.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
}
#nbrOfPets #nbrOfCats p:last-child, #nbrOfPets #nbrOfDogs p:last-child{
  font-size: 1.3rem;
  margin-left: 20px;
}

/* next event */
.event{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 3px 3px 10px black;
  border: 1px solid black;
  border-radius: 5px;
}
.event img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  margin-bottom: 10px;
}
.event p{
  padding: 0 10px 20px;
}
.event .titleEvent{
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
.event .dateEvent{
  font-style: italic;
}
.event .contentEvent{
  line-height: 1.4rem;
}
#nextEvent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nextEvent button{
  margin: 30px auto 0;
  width: 60%;
  padding: 10px 10px;
  background-color: rgb(30, 114, 107, 0.8);
  border-radius: 5px;
}
#nextEvent button a{
  color: #fff;
}

/* dernières arrivées */
#lastEntrance{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 30px auto 0;
}
.arrival{
  width: 90%;
  margin: 20px auto 30px;
  text-align: center;
}
.arrival p img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.arrival button{
  margin: 10px auto 0;
  background-color: #fff;
  border: 1px solid var(--vert-fonce);
  border-radius: 5px;
  padding: 5px 10px;
}
.arrival button:hover{
  background-color: var(--vert);
}
.arrival button a{
  font-size: 1.3rem;
}


/*****************************************/
/*.................FOOTER................*/
/*****************************************/
#bottom{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, rgba(40,227,128,1) 0%, rgba(30,114,107,0.82) 100%);
}

#bottom .social-media ul{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  padding: 0 10px;
}
#bottom .social-media ul li a{
  color: #fff;
}
#bottom .social-media ul li a i{
  font-size: 2rem;
}

#bottom .address-footer{
  display: none;
}

#bottom .schedule{
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px auto;
}
#bottom .schedule i{
  font-size: 1.6rem;
  margin-bottom: 10px;
}
#bottom .schedule #opening-hours{
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 0 10px;
}

.transition{
  height: 2px;
  width: 100%;
  background: #fff;
}

#bottom #copyright{
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 0 20px;
}
#bottom #copyright a, #bottom #copyright p{
  color: #fff;
  font-size: 0.9rem;
  font-style: italic;
}

/*****************************************/
/* ................ABOUT................ */
/*****************************************/
#aboutUs{
  display: flex;
  flex-direction: column;
}
#aboutUs #content-presentation{
  padding: 0 20px;
  line-height: 1.5rem;
}
#aboutUs #content-presentation p{
  margin: 30px 0 10px;
}
#aboutUs #img-presentation{
  width: 100%;
  height: 250px;
  margin: 30px 0 20px;
}
#aboutUs #img-presentation img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ourTeam{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
}
#ourTeam .page-title{
  width: 100%;
  margin-bottom: 30px;
}
#ourTeam .eachMember{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
#ourTeam .eachMember img{
  width: 50vw;
  height: 50vw;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
#ourTeam .eachMember .surname{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#ourTeam .eachMember .who{
  width: 80%;
  text-align: justify;
  line-height: 1.3rem;
}
#ourTeam .eachMember .UD-team{
  margin: 30px auto 0;
}
#ourTeam .eachMember .UD-team button{
  padding: 8px 10px;
}
#ourTeam .eachMember .UD-team button a{
  color: #fff;
}
#ourTeam #members .eachMember .UD-team button:first-child{
  margin-right: 30px;
  background-color: var(--vert);
  border: none;
  border-radius: 5px;
}
#ourTeam #members .eachMember .UD-team button:last-child{
  background-color: rgb(212, 8, 8);
  border: none;
  border-radius: 5px;
}

#ourTeam #btnCreate{
  padding: 10px 10px;
  background-color: rgb(30, 114, 107, 0.8);
  border-radius: 5px;
  margin-bottom: 50px;
}
#ourTeam #btnCreate a{
  color: #fff;
}


/*************************************************************/
/*.....CONNEXION / CREATE ACCOUNT / FORMULAIRE CONTACT...... */
/*************************************************************/
.content-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 30px auto 50px;
  padding: 0 20px;
}
.content-form .text-account{
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  padding: 0 10px;
  margin-bottom: 30px;
}
.content-form .form-connect{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-form .form-connect p{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
} 
.content-form .form-connect p label{
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.content-form .form-connect p input{
  width: 100%;
  height: 40px;
  border: solid 1px var(--vert-fonce);
  border-radius: 5px;
  background-color: rgb(48, 185, 112, 0.3);
  font-size: 1rem;
  padding-left: 10px;
}
.content-form .form-connect textarea{
  width: 100%;
  height: 200px;
  border: solid 1px var(--vert-fonce);
  border-radius: 5px;
  background-color: rgb(48, 185, 112, 0.3);
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 10px;
}
.content-form .form-connect .buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content-form .form-connect .buttons input:first-child{
  margin-right: 10px;
}
.content-form .form-connect p input[type=submit], 
.content-form .form-connect p input[type=reset]{
  width: 40%;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 0;
  margin: 20px auto 0;
}
.content-form .form-connect p input[type=submit]:hover,
.content-form .form-connect p input[type=reset]:hover{
  color: #fff;
  background-color: var(--vert-fonce);
}
.content-form p, .content-form p a{
  font-size: 1.1rem;
}
.content-form p a{
  text-decoration: underline;
  cursor: pointer;
}
.content-form .form-connect .consent-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 0 auto 30px;
}
.content-form .form-connect .consent-box input{
  width: 15px;
  margin-right: 10px;
}
.content-form .form-connect .consent-box label{
  cursor: pointer;
  padding-top: 10px;
}
.content-form .form-connect .consent-box label a{
  font-size: 1.1rem;
}

/*****************************************/
/* .............PAGE CONTACT............ */
/*****************************************/
#contact-info{
  text-align: center;
}
#contact-info .page-title{
  margin-bottom: -30px;
}
#contact-info .address i:first-child{
  margin-top: 30px;
}
#contact-info .address i{
  font-size: 1.8rem;
  margin: 20px 0 10px;
  color: var(--vert);
}
#contact-info .address p{
  font-size: 1rem;
}
#contact-info .address address{
  line-height: 2rem;
  font-style: normal;
}

#localisation{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -20px;
}
#myMap{
  height: 200px;
  width: 95%;
  margin: 0 auto;
}
.leaflet-control-attribution.leaflet-control a{
  font-size: 11px;
}

/*****************************************/
/* ...............ADOPTIONS............. */
/*****************************************/
#btnAnimals{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 20px;
}
#btnAnimals button{
  width: 70%;
  padding: 10px 0;
  font-size: 1.3rem;
  background-color: var(--vert);
  border: 1px solid var(--vert-fonce);
  border-radius: 5px;
  box-shadow: 2px 2px 6px var(--vert-fonce);
  margin-bottom: 30px;
}
#btnAnimals button a{
  color: #fff;
}
#btnAnimals button i{
  font-size: 1.2rem;
}

/*****************************************/
/* ............CATS AND DOGS............ */
/*****************************************/
.content-pets i{
  font-size: 1.5rem;
  padding-left: 20px;
}

.content-pets .addPet{
  text-align: center;
  margin: 20px 0;
}
.content-pets .addPet button{
  padding: 10px 10px;
  background-color: rgb(30, 114, 107, 0.8);
  border-radius: 5px;
}
.content-pets .addPet a{
  color: #fff;
}

#allPets{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.adoptPet{
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 90%;
  box-shadow: 3px 3px 10px black;
  border: 1px solid black;
  border-radius: 5px;
}
.adoptPet .allInfoPet{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.adoptPet .imgPet{
  width: 100%;
  height: 300px;
}
.adoptPet .imgPet img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.adoptPet .infoPet, .adoptPet .extractPet{
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 1.6rem;
}
.adoptPet .infoPet span, .adoptPet .extractPet span{
  text-decoration: underline;
  font-weight: bold;
}
.adoptPet .infoPet .petName{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.adoptPet .extractPet button{
  padding: 10px;
  background-color: rgb(30, 114, 107, 0.8);
  border-radius: 5px;
  margin: 20px auto;
  text-align: center;
}
.adoptPet .extractPet button a{
  color: #fff;
}

/*****************************************/
/* .............EACH ANIMAL............. */
/*****************************************/
.content-animal i{
  font-size: 1.5rem;
  margin-left: 20px;
}
.eachAnimal{
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}
.eachAnimal .imgPet{
  width: 100%;
  height: 300px;
}
.eachAnimal .imgPet img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eachAnimal .infoPet{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  line-height: 1.6rem;
}
.eachAnimal .infoPet p{
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.eachAnimal .infoPet .petName{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}
.eachAnimal .infoPet .petContent{
  margin-top: 30px;
  text-align: justify;
}
.eachAnimal .infoPet span{
  text-decoration: underline;
  font-weight: bold;
}
.eachAnimal .imgPet{
  margin: 30px auto 0;
}

.eachAnimal .UD-pet{
  text-align: center;
  margin: 30px 0;
}
.eachAnimal .UD-pet button{
  padding: 8px 10px;
}
.eachAnimal .UD-pet button:first-child{
  margin-right: 30px;
  background-color: var(--vert);
  border: none;
  border-radius: 5px;
}
.eachAnimal .UD-pet button a{
  color: #fff;
  font-size: 1.1rem;
}
.eachAnimal .UD-pet button:last-child{
  background-color: rgb(212, 8, 8);
  border: none;
  border-radius: 5px;
}

/*****************************************/
/* ................BLOG................. */
/*****************************************/
.content-articles{
  margin: 0 auto 50px;
}
.content-articles .addArticle{
  text-align: center;
  margin: 50px 0 20px;
}
.content-articles .addArticle button{
  padding: 10px;
  background-color: rgb(30, 114, 107, 0.8);
  border-radius: 5px;
}
.content-articles .addArticle a{
  color: #fff;
}

#seeAllArticles{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.allArticles{
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 90%;
  box-shadow: 3px 3px 10px black;
  border: 1px solid black;
  border-radius: 5px;
}
.allArticles .imgArticle{
  width: 100%;
  height: 300px;
}
.allArticles .imgArticle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.allArticles .infoArticle{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  line-height: 1.6rem;
}
.allArticles .infoArticle .dateArticle{
  text-align: end;
}
.allArticles .infoArticle .titleArticle{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}
.allArticles .infoArticle .extractArticle{
  margin-bottom: 20px;
}
.allArticles .infoArticle button{
  padding: 10px 10px;
  background-color: rgb(30, 114, 107, 0.8);
  border-radius: 5px;
  margin: 10px auto 20px;
  text-align: center;
}
.allArticles .infoArticle button a{
  color: #fff;
}

/*****************************************/
/* ............EACH ARTICLE............. */
/*****************************************/
.content-articles i{
  font-size: 1.5rem;
  padding: 20px 0 0 10px;
}
.eachArticle{
  display: flex;
  flex-direction: column;
  margin: 30px auto 10px;
}
.eachArticle .imgArticle{
  width: 100%;
  height: 300px;
}
.eachArticle .imgArticle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eachArticle .infoArticle{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.6rem;
}
.eachArticle .infoArticle .dateArticle{
  text-align: end;
  margin-top: 10px;
}
.eachArticle .infoArticle .titleArticle{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 20px;
}
.eachArticle .infoArticle .contentArticle{
  margin-bottom: 20px;
}
.eachArticle .infoArticle .UD-article{
  margin: 10px auto 0;
}
.eachArticle .infoArticle .UD-article button{
  padding: 5px 10px;
}
.eachArticle .infoArticle .UD-article button a{
  color: #fff;
}
.eachArticle .infoArticle .UD-article button:first-child{
  margin-right: 30px;
  background-color: var(--vert);
  border: none;
  border-radius: 5px;
}
.eachArticle .infoArticle .UD-article button:last-child{
  background-color: rgb(212, 8, 8);
  border: none;
  border-radius: 5px;
}

.writeComment form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
.writeComment form p{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.writeComment form p label{
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}
.writeComment form p textarea{
  width: 100%;
  height: 150px;
  padding: 10px;
  border: solid 1px var(--vert-fonce);
  border-radius: 5px;
  background-color: rgb(48, 185, 112, 0.3);
}
.writeComment form p input{
  font-weight: bold;
  padding: 5px 10px;
  border: solid 1px var(--vert-fonce);
  border-radius: 5px;
  background-color: rgb(48, 185, 112, 0.3);
}
.writeComment form p input:hover{
  color: #fff;
  background-color: var(--vert-fonce);
}

.comments{
  padding: 0 20px;
  line-height: 1.5rem;
}
.comments h3{
  font-size: 1.2rem;
  margin-top: 20px;
  text-decoration: underline;
}
.comments .eachComment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 20px;
  box-shadow: 3px 3px 5px rgb(156, 154, 154);
  border-radius: 5px;
}
.comments .eachComment .content-comment .nicknameUser{
  font-weight: bold;
  font-size: 1.1rem;
  margin: 10px 0;
}
.comments .eachComment .content-comment .datePost{
  font-style: italic;
}
.comments .eachComment .content-comment{
  width: 90%;
  margin-bottom: 10px;
}
.comments .eachComment .deleteComment{
  width: 10%;
  text-align: center;
}
.comments .eachComment .deleteComment a img{
  width: 20px;
}

/*****************************************/
/* ...........DASHBOARD USER............ */
/*****************************************/
.userComments{
  padding: 0 20px;
  line-height: 1.5rem;
}
.userComments h2{
  font-size: 1.2rem;
  margin: 20px 0;
  text-decoration: underline;
}
.userComments #howTo {
  margin: 20px 0;
}
.userComments .commentsUser{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
  padding: 10px 0;
  box-shadow: 3px 3px 5px rgb(156, 154, 154);
  border-radius: 5px;
}
.userComments .commentsUser .content{
  width: 90%;
}
.userComments .commentsUser .content .datePost{
  font-style: italic;
}
.userComments .commentsUser .deleteComment{
  width: 10%;
  text-align: center;
}
.userComments .commentsUser .deleteComment a img{
  width: 20px;
}

/*****************************************/
/* ...............LEGAL................. */
/*****************************************/
.content-legal{
  padding: 0 20px;
  margin-bottom: 30px;
  line-height: 1.5rem;
}
.content-legal section{
  margin-bottom: 30px;
}
.content-legal section h3{
  text-decoration: underline;
  margin-bottom: 10px;
}
.content-legal #rgpd h4{
  font-style: italic;
}
.content-legal #rgpd p{
  margin-bottom: 10px;
}






  
